In [3]:
import json
import glob
import os
import pandas as pd

from ndcs.constants import PROCESSED_DATA_DIR, NDC_TARGET_RELEASE

In [4]:
INPUT_DIR = os.path.join(PROCESSED_DATA_DIR, "global_emissions_meta", NDC_TARGET_RELEASE, "high", "C")

In [5]:
fnames = glob.glob(os.path.join(INPUT_DIR, "*", "SSP1BL", "selected_countries.json"))
len(fnames)

354

In [6]:
fnames=sorted(fnames)

In [7]:
with open(fnames[0]) as fh:
    print(json.load(fh))

{'selected': {'LBY': '2013-07-18'}, 'missing': ['FRA', 'TON', 'UZB', 'UGA', 'BTN', 'OMN', 'RUS', 'MLI', 'DJI', 'GRC', 'VCT', 'JPN', 'FSM', 'BRN', 'COM', 'PRK', 'BEL', 'LUX', 'BFA', 'PHL', 'PSE', 'SLB', 'VEN', 'TGO', 'FIN', 'GMB', 'RWA', 'BIH', 'DOM', 'BHR', 'SOM', 'TJK', 'CMR', 'ZWE', 'SWZ', 'AUT', 'PNG', 'KOR', 'UKR', 'MKD', 'BGR', 'KWT', 'ARM', 'USA', 'CAF', 'GNQ', 'GBR', 'HRV', 'COD', 'LBR', 'ARE', 'IDN', 'KNA', 'AGO', 'KGZ', 'FJI', 'MDA', 'ZZA', 'MEX', 'YEM', 'STP', 'VNM', 'NGA', 'MYS', 'COL', 'GUY', 'JAM', 'MOZ', 'GNB', 'TLS', 'SMR', 'TZA', 'IRN', 'CHL', 'MNG', 'WSM', 'QAT', 'IND', 'NAM', 'VUT', 'SVK', 'ISL', 'HTI', 'HUN', 'SGP', 'DMA', 'ERI', 'CIV', 'CPV', 'COK', 'GRD', 'THA', 'NPL', 'BLR', 'CZE', 'AND', 'ISR', 'SLV', 'TCD', 'GHA', 'ALB', 'BEN', 'POL', 'LIE', 'PRT', 'LVA', 'GIN', 'PRY', 'COG', 'ARG', 'SRB', 'SAU', 'LCA', 'MNE', 'KHM', 'URY', 'ZAF', 'ZMB', 'TUV', 'NER', 'MDV', 'BOL', 'MAR', 'MMR', 'EST', 'MHL', 'LKA', 'KEN', 'MLT', 'PAN', 'NIC', 'IRL', 'TUR', 'ECU', 'BWA', 'TKM', 'LTU', 'NZL', 'LBN', 'MUS', 'TUN', 'KAZ', 'BHS', 'JOR', 'CHE', 'ESP', 'EGY', 'GTM', 'BGD', 'BLZ', 'ROU', 'MWI', 'MCO', 'AZE', 'LAO', 'MDG', 'ITA', 'AFG', 'CUB', 'NIU', 'BDI', 'DZA', 'ZZB', 'SWE', 'PAK', 'BRA', 'NOR', 'SVN', 'ATG', 'MRT', 'PLW', 'SDN', 'NRU', 'DNK', 'SYR', 'CAN', 'DEU', 'SLE', 'AUS', 'SYC', 'GEO', 'KIR', 'SEN', 'TTO', 'ETH', 'CYP', 'CHN', 'SUR', 'GAB', 'IRQ', 'HND', 'LSO', 'NLD', 'PER', 'BRB', 'CRI', 'SSD'], 'last_country': 'LBY', 'pathway_num': 1, 'pathway_id': '2013-07-18_1', 'conditionality': 'C', 'country_extension': 'SSP1BL', 'exclude_hot_air': 'include', 'ambition': 'high'}

In [8]:
data = []
for fname in fnames:
    with open(fname) as fh:
        loaded_data = json.load(fh)
    data.append({"pathway_id": loaded_data["pathway_id"], "last_country": loaded_data["last_country"] })
data = pd.DataFrame(data)
data

       pathway_id last_country
0    2013-07-18_1          LBY
1    2013-07-18_2          ZZA
2    2013-07-18_3          ZZB
3    2015-08-05_1          MKD
4    2015-09-26_1          SEN
5    2015-09-30_1          SMR
6    2015-09-30_2          TUR
7    2015-10-01_1          MOZ
8    2015-10-01_2          PHL
9    2015-11-12_1          IRQ
..            ...          ...
344  2021-10-21_1          PAK
345  2021-10-22_1          JPN
346  2021-10-23_1          SAU
347  2021-10-25_1          KNA
348  2021-10-28_1          AUS
349  2021-10-28_2          CHN
350  2021-10-30_1          UZB
351  2021-11-01_1          IND
352  2021-11-03_1          NZL
353  2021-11-09_1          VEN

[354 rows x 2 columns]

In [9]:
data.to_csv(os.path.join(PROCESSED_DATA_DIR, "{}_pathway_countries.csv".format(NDC_TARGET_RELEASE)), index=False)