In [1]:
import json
import glob
import os
import pandas as pd

from src.constants import PROCESSED_DATA_DIR, NDC_TARGET_RELEASE

In [2]:
INPUT_DIR = os.path.join(PROCESSED_DATA_DIR, "global_emissions_meta", NDC_TARGET_RELEASE, "high", "C")

In [3]:
fnames = glob.glob(os.path.join(INPUT_DIR, "*", "SSP1BL", "selected_countries.json"))
len(fnames)

354

In [4]:
fnames=sorted(fnames)

In [5]:
with open(fnames[0]) as fh:
    print(json.load(fh))

{'selected': {'LBY': '2013-07-18'}, 'missing': ['TKM', 'COK', 'EST', 'LIE', 'FRA', 'IND', 'MYS', 'WSM', 'HND', 'GRC', 'CUB', 'SYC', 'NAM', 'VEN', 'SSD', 'USA', 'SLE', 'FIN', 'SYR', 'PNG', 'LUX', 'ZWE', 'TZA', 'CAF', 'ARE', 'ESP', 'RWA', 'ECU', 'UKR', 'ARG', 'POL', 'NIU', 'GUY', 'BOL', 'BTN', 'PHL', 'PAK', 'SEN', 'DMA', 'KHM', 'DZA', 'TTO', 'STP', 'CAN', 'COL', 'BEN', 'VUT', 'COG', 'EGY', 'COD', 'DNK', 'MMR', 'LSO', 'PSE', 'BWA', 'KEN', 'JAM', 'LAO', 'ZMB', 'BHR', 'UGA', 'BRB', 'ALB', 'GEO', 'NGA', 'PRK', 'AUT', 'PRT', 'MWI', 'CRI', 'SVK', 'TUV', 'ERI', 'SVN', 'ZZB', 'BFA', 'AZE', 'TUN', 'GBR', 'MCO', 'NRU', 'GIN', 'AGO', 'FJI', 'CMR', 'SUR', 'ROU', 'KNA', 'BEL', 'HUN', 'BLZ', 'TLS', 'LCA', 'GAB', 'HRV', 'ISR', 'NPL', 'ZZA', 'BRA', 'MUS', 'MKD', 'BGD', 'AUS', 'MLI', 'GHA', 'FSM', 'SRB', 'MEX', 'PAN', 'LTU', 'IDN', 'CZE', 'NOR', 'DEU', 'LVA', 'TCD', 'RUS', 'TUR', 'CIV', 'TJK', 'NER', 'SOM', 'GNQ', 'CHL', 'IRQ', 'CHE', 'URY', 'KGZ', 'MNE', 'COM', 'BGR', 'NZL', 'BIH', 'SLV', 'MAR', 'MDV', 'JPN', 'QAT', 'GRD', 'VCT', 'MHL', 'ARM', 'BRN', 'SLB', 'DJI', 'MNG', 'IRN', 'CPV', 'SWE', 'ITA', 'GMB', 'TGO', 'ZAF', 'GNB', 'SDN', 'VNM', 'AFG', 'GTM', 'NLD', 'HTI', 'ETH', 'KIR', 'PLW', 'MLT', 'SAU', 'AND', 'MOZ', 'ATG', 'TON', 'MDA', 'OMN', 'SMR', 'CHN', 'PRY', 'JOR', 'IRL', 'YEM', 'ISL', 'CYP', 'THA', 'KAZ', 'UZB', 'NIC', 'BDI', 'BHS', 'LBR', 'BLR', 'KWT', 'SGP', 'DOM', 'SWZ', 'LKA', 'MDG', 'MRT', 'KOR', 'LBN', 'PER'], 'last_country': 'LBY', 'pathway_num': 1, 'pathway_id': '2013-07-18_1', 'conditionality': 'C', 'country_extension': 'SSP1BL', 'exclude_hot_air': 'exclude', 'ambition': 'high'}

In [6]:
data = []
for fname in fnames:
    with open(fname) as fh:
        loaded_data = json.load(fh)
    data.append({"pathway_id": loaded_data["pathway_id"], "last_country": loaded_data["last_country"] })
data = pd.DataFrame(data)
data

       pathway_id last_country
0    2013-07-18_1          LBY
1    2013-07-18_2          ZZA
2    2013-07-18_3          ZZB
3    2015-08-05_1          MKD
4    2015-09-26_1          SEN
..            ...          ...
349  2021-10-28_2          CHN
350  2021-10-30_1          UZB
351  2021-11-01_1          IND
352  2021-11-03_1          NZL
353  2021-11-09_1          VEN

[354 rows x 2 columns]

In [7]:
data.to_csv(os.path.join(PROCESSED_DATA_DIR, "{}_pathway_countries.csv".format(NDC_TARGET_RELEASE)), index=False)